@model IEnumerable<Proyecto_Elecciones2021.Models.PartidoPolitico>

@{
    ViewBag.Title = "ListaPartidos";
}


<div class="cuerpo">

    @Html.Partial("_Sidebar")

    <div class="home">
        <div class="partido-politicos">
            <p>Partidos Políticos</p>
        </div>

        <div class="home-partidos-todos">

            @foreach (var item in Model)
            {
                <div class="home-lista-partidos">
                    <div>
                        <a href="@Url.Action("CandidatosPorPartido","Candidato", new { id = item.codPartido })">

                            <div class="home-lista-partidos-f front">
                                <img class="home-lista-imagen-partidos" src="@Url.Content(item.imagenPartido)" />
                                <p>@Html.DisplayFor(modelItem => item.nombrePartido)</p>
                            </div>

                            <div class="home-lista-partidos-b back">
                                <p>@Html.DisplayFor(modelItem => item.nombrePartido)</p>
                                <p><i class="fas fa-info-circle"> </i>Mayor Información</p>

                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
